/*** Image Styles ***/
.rounded {
  border-radius: 25px;
}

.circle {
  border-radius: 50%;
}

.grayscale {
  filter: grayscale(100%);
}

.opacity {
  opacity: 0.5;
}

.blur {
  filter: blur(3px);
}

.hue {
  filter: hue-rotate(180deg);
}

.dropshadow {
  filter: drop-shadow(8px 8px 10px gray);
}